body, html {
    margin: 0;
    padding: 12;
    height: 100%;
    width: 100%
}

.fulltext {
    height: 12vh; 
    width: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: italic;
}




body {
    background-image: url('./images/Pink\ Brown\ Pastel\ Core\ Blank\ Page\ A4\ Document.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0
}
